body{
    margin:0%;
    padding:0px;
    box-sizing: border-box;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
 

.img{
    position: relative;
    left: 50px;
}
.option{
    margin-top: 25px;
    padding:2px;
    margin-left: 50px;
}
.but{
    margin-right:15px;
    border: none;
    background-color: azure;
    height: 20px;
    font-size: 20px;
}
.input{
    background-color: rgb(235, 232, 232);
    width: 300px;
    height: 35px;
    position: relative;
    top: 20px;
   
}
.profile{
    position: relative;
    top: 25px;
    right:20px ;
    font-size:20px;
}
.pro{
    margin-inline: 10px;
    border: none;
    background-color: azure;
    font-size:20px;

}
.Bodysec{
    padding:20px;
    padding-left:20px;
    padding-top: 30px;
    background-color: rgb(239, 239, 238);
}
.card{
    background-color: rgb(86, 113, 41);
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.fot{
    border: 1px solid black;
    display: block;
    margin: 20px auto;
    padding:2px ;
    height: 200px;
    width: 1200px;
}