body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#root{
    width: 500px;
    padding: 20px 20px;
    background-color: rgb(170, 143, 102);
    border: 2px solid black;
    
}
